{% extends 'base.html.twig' %}
{% block title %}Panier{% endblock %}
{% block body %}
<div class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      {{include('_forms/_header.html.twig')}}
      <!-- end header section -->
    </div>
    <!-- nav section -->
    {{include('_forms/_navbar.html.twig')}}
    <!-- end nav section -->

    <!-- contact section -->
    <script src="https://use.fontawesome.com/c560c025cf.js"></script>
    <link href="css/panier.css" rel="stylesheet" />
      <div class="container">
        <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Shipping cart
                <a href="" class="btn btn-outline-info btn-sm pull-right">Continiu shopping</a>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
            <!-- PRODUCT -->
                {% for item in 1..3 %}
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                            <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew" width="100" height="60">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <strong>Product Name Product Product Product Product </strong>
                           
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong>25.00 <span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="button" value="+" class="plus">
                                    <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty" size="4">
                                    <input type="button" value="-" class="minus">
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button type="button" class="btn btn-outline-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
              <!-- END PRODUCT --> 
             
                <div class="totals">
                    <div class="totals-item">
                        <label>Total HT</label>
                        <div class="totals-value" id="cart-subtotal">71.97</div>
                    </div>
                    <div class="totals-item">
                        <label>TVA %20</label>
                        <div class="totals-value" id="cart-tax">1 782 523.60</div>
                    </div>
                    <div class="totals-item">
                        <label>Total TTC</label>
                        <div class="totals-value" id="cart-tax">1 782 523.60</div>
                    </div>
                    <a href="" class="btn btn-success pull-left">Valider mon panier</a> 
                </div>
          </div>
      </div>
  <!-- end contact section -->

  <!-- info section -->
  {{include('_forms/_infos.html.twig')}}
  <!-- end info section -->

  <!-- footer section -->
  {{include('_forms/_footer.html.twig')}}
  <!-- end footer section -->
</div>
{% endblock %}
