<div class="container">
    <div class="row">
        <h1>{{ page.titre }}</h1>
        <div class="span12">
            {# raw pour eviter que twig afficher du code html brute#}
            {{ page.contenu|raw }}
        </div>
    </div>
</div>

