{% extends 'admin/menus_admin.html.twig' %}
 {% block body_admin %}
    <h4>Liste  Produits</h4>
    {{ include('admin/produits/_form.html.twig', {'button_label': 'Modifier'}) }}
     <div class="row mt-2">
        <div class="col-md-8">
            <div class="text-right">
                <a href="{{ path('admin_produits_index') }}">Retour Liste</a>
                 </div>
        </div>
    </div>

{% endblock %}
