<!-- header section strats -->
<div class="brand_box">
    <a class="navbar-brand" href="index.html">
        <span>
        Produits locaux
        </span>
    </a>
</div>
<!-- end header section -->