   <!-- info section -->

    <section class="info_section">
        <div class="container">
        <div class="info_contact">
            <div class="row">
            <div class="col-md-4">
                <a href="">
                <span>
                    Mentions légales
                </span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="">
                <img src="images/call.png" alt="">
                <span>
                    Call : +002246548975
                </span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="">
                <img src="images/mail.png" alt="">
                <span>
                    fruitslegumesguinee@gmail.com
                </span>
                </a>
            </div>
            </div>
        </div>
     

        </div>
    </section>

    <!-- end info section -->