<!-- info section -->

<section class="info_section">
    <div class="container">
    <div class="info_contact">
        <div class="row">
            <div class="col-md-4">
                <a href="">
                    <span>QUI SOMMES-NOUS ?</span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="">
                    <span>MENTIONS LÉGALES</span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <span>CONTACT</span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <span>TÉMOIGNAGES</span>
                </a>
            </div>
        </div>
    </div>
    

    </div>
</section>

<!-- end info section -->