<div class="container">
    <div class="heading_container">
        <hr>
        <h2> Nos Fruits </h2>
    </div>
</div>
<div class="container-fluid">
    <div class="fruit_container">   
        {% for item in 1..7 %}     
            <div class="box">
                {#<img src="images/f-2.jpg" alt=""> images/f-4.jpg images/f-5.jpg images/f-6.jpg#}
                <img src="images/f-1.jpg" alt=""> 
                <div class="link_box">
                    <h5>
                    Orange
                    </h5>
                    <a href="">
                    Buy Now
                    </a>
                </div>
                </div>
        {% endfor %}
    </div>
</div>