<div class="container">
    <div class="heading_container">
        <hr>
        <h2> Nos Fruits </h2>
    </div>
</div>
<div class="container-fluid">
    <div class="fruit_container">   
        {% for item in 1..7 %}     
            <div class="box">
                {#<img src="images/f-2.jpg" alt=""> images/f-4.jpg images/f-5.jpg images/f-6.jpg#}
                <img src="images/f-1.jpg" alt=""    width="155" height="350">
                 <a class="btn btn-success" href="">Ajouter au panier</a> 
                 <a class="btn btn-primary" href="">Plus d'infos</a>
                </div>
        {% endfor %}
    </div>
</div>