<div class="container">
    <div class="heading_container">
        <hr>
        <h2> Nos Fruits </h2>
    </div>
</div>
<div class="container-fluid">
    <div class="fruit_container">   
        {% for produit in produits %}     
            <div class="box">
              
                    {#<img src="images/f-2.jpg" alt=""> images/f-4.jpg images/f-5.jpg images/f-6.jpg#}
                    <img src="images/f-1.jpg" alt=""    width="155" height="350">
                    {% set prix = 10 %}
                      <div class="row">
                    <h4 class="col-md-4"><a href="#">Orange</a></h4>
                    <h4 class="col-md-4">{{prix|calculTtcProduit(0.8)}}</h4> 
                </div>
                <!--S'il y a un produit dans mon panier j'affiche son bouton ajouter au panier -->
                {% if panier[produit.id] is not defined %}
                  <a class="btn btn-success" href="{{path('panier_ajout',{id:produit.id})}}">Ajouter au panier</a> 
                {% endif %}
                  <a class="btn btn-primary" href="">Plus d'infos</a>
            </div>
        {% endfor %}
    </div>
</div>