<h3> Activation de votre compte </h3>
<p> Veuillez cliquer sur le lien ci-dessous pour activer votre compte </p>
<a href="{{absolute_url(path('registration_activation', {'token': token}))}}">Activer votre compte </a>
